.header {
    height: 10%;
    width: 100%;
    padding: 0px;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .addform {
    display: flex;
  }


  .test {
    width: 200px;
    margin: 20px;
    color: blue;
  }

  .test2 {
    width: 200px;
    margin: 20px;
    color: blue;
  }

  
.btn {
  display: inline-block;
  background: rgb(11, 155, 11);
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
  background: rgb(140, 187, 13);
}

.title {
  padding-left: 20px;
  font-family: cursive;
  font-size: 1.5rem;
}
